<!DOCTYPE html>
<html>
<head>
	<title>Robots</title>
	
</head>
<body>

	<h1>Robots</h1>

	<ul>
		<% for(let i = 0; i < robotsObject.length; i++) {%>

			<li>
				<a href=<%=`${i}`%>><%=robotsObject[i].name%></a>
			</li>
			<li>
				<%=robotsObject[i].size%>
			</li>
			<li>
				<%=robotsObject[i].color%>
			</li>
				<br>

		<%}%>
	</ul>


</body>
</html>