<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<h1>Robots!</h1> 
	<ul>
		
		 <li>Name:<%=robotsObject.name%> <br>
		 <li>Size: <%=robotsObject.size%> <br>
		 <li>Color: <%=robotsObject.color%> <br>
	</ul> 

	<button> <a href="<%=`/robots/${robotsObject.id}/edit`%>">Edit</button></a>
			

		<p>
			<a href="/robots">Return to Robot list</a>
		</p>
			
</body>
</html>


